
<script  type="text/javascript">
    function getdata()
    {
        $.ajax({

                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: "/api/getsubject",
                    data: "{}",
                    dataType: "json",
                    success: function (data) {
                        $.each( data, function( key, value ) {
                        $("#subcon").append("<div class='col-sm-6 col-md-4'>"+" <div class='thumbnail'>"+
                        " <img src="+value.pic+" style='height:200px' />"+
                        "<div class='caption'>"+" <h3>"+value.title+"</h3>"+
                        "<p>"+value.description+"</p>");
                        });
                    },
                    error: function (result) {
                        alert("Error");
                    }
                });
    }
    $( document ).ready(function() {
    getdata();
    });
   
</script>
<div class="row" id="subcon">
              
                   
                   
                        
                           

</div>